{{!-- <div class="col-md-3">
  <img src="{{this.image_url}}" class="beer-image">
  <h5>{{this.name}}</h5>
</div> --}}


<div class="col-md-3">
  <img src="{{this.image_url}}" class="beer-image" alt="Card image cap">
  <h3 class="beer-title">{{this.name}}</h3>
  <h6> {{this.tagline}} </h6>
  <p class="beer-text">{{this.description}}</p>
</div>